//Fonts
@font-face {
    font-family: infotext;
    src: url(fonts/infotext-normal.woff);
}

@font-face {
    font-family: infotext-semibold;
    src: url(fonts/infotext-bold.woff);
    font-weight: bold;
}

// Variables
$bg-purple      : #D2C6E0;
$pink           : #F1EEF6;
$black          : #1A1A1A;
$gray           : #4D4D4D;
$tabletWidth    : 768px;

body{
    font-family: infotext;
    font-size: 18px;
    line-height: 1.15;
    // letter-spacing: 0.55px;
    overflow-x: hidden;
}

// Site centers on page above 960px
.limit, .navbar .container{
    max-width: 960px;
    margin: 0 auto;
}
// Navbar styles
.navbar{
    color: #989898;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 0px;
    @media (min-width: $tabletWidth){
        padding-top:20px;
        padding-bottom: 11px;
    }
    .container{
        @media (min-width: $tabletWidth){
            width: 100%;
        }
    }
}
// Navbar Logo
.navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
    height: 31px;
    img, .icon{
        float: left;
    }
    strong{
        float: left;
        display: none;
        margin: 7px 0 0 44px;
        font-size: 15px;
        @media (min-width: 845px){
            display: inline;
        }
    }
}
// Hamburger menu
.navbar-toggle{
    height: 31px;
    padding: 2px;
    margin-top: 0;
    margin-bottom: 0;
    border: none;
}
.navbar-toggle .icon-bar {
    width: 50px;
    height: 2px;
    margin-bottom: 10px;
}
.navbar-collapse{
    margin-top: 8px;
}
.navbar-nav{
    margin-right: 150px;
}
.nav>li>a{
    @media (min-width: $tabletWidth){
        padding:0 7px 0 7px;
        font-size: 14px;
    }
}

//Contact info under nav
.top-contact{
    height: 30px;
    margin-top: 50px;
    padding-top: 8px;
    font-size: 14px;
    color: white;
    background-color: $gray;
    @media (min-width: $tabletWidth){
        margin-top: 61px;
    }
}

// Content
.flux-banner{
    height: 220px;
    background: black url('../images/main.jpg') no-repeat;
    background-size: 120% auto;
    background-position: center top;
    letter-spacing: 1.5px;
    strong{
        display: block;
        margin-top: 30px;
        font-size: 21pt;
        color: white;
    }
    @media (min-width: $tabletWidth){
        height: 520px;
        background-size: 100% auto;
        strong{
            margin-top: 95px;
            font-size: 33px;
            
        }
    }
}
.heading{
    letter-spacing: 4px;
    margin-top: 32px;
    margin-bottom: 15px;
    font-size: 29pt; 
    font-weight: bold;
    text-transform: uppercase;
    @media (min-width: $tabletWidth){
        margin-top: 32px;
        font-size: 28px;
    }

}
.subheading{
    margin-bottom: 32px;
    font-size: 20pt;
    @media (min-width: $tabletWidth){
        margin-bottom: 47px;
        font-size: 25px;
    }
}

// About
#about{
    padding-bottom:60px;
    @media (min-width: $tabletWidth){
        padding-bottom: 28px;
        margin-bottom: 12px;
    }
}
//Solutions
#core-components-text{
    display:block;
    // margin:10px 0 4px 0;
    font-weight: bold;

    @media (min-width: $tabletWidth){
        font-size: 23px;
        margin-top: 85px;
        margin-bottom: 7px;
        letter-spacing: 0.55px;

    }
}
.feature-1{
    font-size: 17px;
    padding-bottom: 7px;
    hr{
        border-top: 1px solid $gray;
        margin-top: 17px;
        margin-bottom: 16px;
    }
    img, .icon{
        display: inline-block;
        max-height: 51px;
        max-width: 51px; //svg
        margin-right: 20px;
        vertical-align: top;
    }
    p{
        display: inline-block;
        width: calc(100% - 90px);
    }
}

#implementation{
    font-size: 24px;
    font-weight: bold;
    @media (min-width: $tabletWidth){
        padding-top: 61px;
    }
}
.feature-2{
    height: 120px;
    border: 3px solid white;
    color: black;
    font-size: 6px;
    text-align: center;

    img, .icon{
        width: 35px;
        height: 35px;
        margin-top: 26px;
        margin-bottom: 16px;
    }
    @media (max-width: 464px){
        height: 135px;
    }
    // Expand bottom two features when text overflows
    &:nth-last-child(2), &:last-child{
        @media (max-width: 356px){
            height: 150px;
        }
    }
    
    // Above breakpoint make font-size and height bigger
    @media (min-width: $tabletWidth){
        height: 150px;
        font-size: 18px;
        img, .icon{
            width: 50px;
            height: 50px;
        }
        // Make bottom row of tiles bigger for "Monte-Carlo" text
        &:nth-last-child(3), &:nth-last-child(2), &:last-child{
            height: 185px;
        }
    }
    // Make bottom row the same size as top as "Monte-Carlo" text wraps back up
    @media (min-width: 904px){
        &:nth-last-child(3), &:nth-last-child(2), &:last-child{
            height: 151px;
        }
    }

}
.feature-3{
    hr{
        border-top: 1px solid $gray;
        margin-top: 15px;
        margin-bottom: 6px;
    }
    p{
        margin-top: 30px;
        margin-bottom: 22px;
        font-size: 15px;
    }
    img, .icon{
        width: 50px;
        height: 50px;
    }
}
.not-touchslider{
    display: none;
    // Show above breakpoint show
    @media (min-width: $tabletWidth){
        display: block;
    }
    #other-features-text{
        margin-top: 84px;
        font-size: 23px;
        margin-bottom: 41px;
    }
}
.touchslider{
    // border: 2px solid green;
    position: relative;
    text-align: center;
    // Hide above breakpoint
    @media (min-width: $tabletWidth){
        display: none;
    }
}
.touchslider-viewport{
    // border: 2px solid black;
    overflow: hidden;
    display: inline-block;

    width:260px;
    height:350px;

    @media (min-width: 335px){
        width:280px;
    }
    @media (min-width: 535px){
        width:350px;
        height:320px;
    }
}
.touchslider .feature-3{
    // border: 2px solid blue;
    vertical-align: top;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;

    width:260px;

    @media (min-width: 335px){
        width:280px;
    }
    @media (min-width: 535px){
        width: 350px;
    }
}
.touchslider-prev, .touchslider-next{
    // border: 2px solid red;
    img{
        width: 25px;
        height: 50px;
    }

    display: inline-block;
    position: absolute;
    top: 380px;
    // Buttons wrap to be inline with dots
    @media (min-width: 428px){
        top: 70px;
    }
}
.touchslider-prev{
    padding-right: 0;
    margin-left: -147px;        
    @media (min-width: 340px){
        margin-left: -153px;
    }
    @media (min-width: 428px){
        margin-left: -192px;
        padding-right: 15px;
    }
    @media (min-width: 535px){
        margin-left: -247px;
        padding-right: 35px;
    }
}
.touchslider-next{    
    padding-left: 0;
    margin-left: -15px;        
    @media (min-width: 340px){
        margin-left: -15px;
    }
    @media (min-width: 428px){
        margin-left: 0;
        padding-left: 15px;
    }
    @media (min-width: 535px){
        padding-left: 35px;
    }
}
.touchslider-nav-item{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #808080;
}
.touchslider-nav-item-current{
    background-color: #808080;
}

#helping-your-text{
    display:block;
    @media (min-width: $tabletWidth){
        padding-top: 80px;
        font-size: 24px;
    }
}
.feature-4-pad{
    margin: 0;
    margin-top: 12px;
    @media (min-width: $tabletWidth){
        padding: 30px 20px 13px 20px;
    }
}
.feature-4{
    text-align: center;
    img, .icon{
        width: 86px;
        height: 86px;
        margin-bottom: 14px;
    }
}
#casestudy{
    hr{
        margin: 9px 0 9px 0;
    }
}
.info-cont{
    padding-top: 62px;
    padding-bottom: 70px;
    text-align: center;

    .info-label{
        padding: 12px;
        max-width: 555px;
        margin: 0 auto;
        font-size: 24px;
        font-weight: bold;
        @media (min-width: $tabletWidth){
            padding: 20px;
        }
    }
}

// Msc
.bg-pink{
    background-color: $pink;
}
.bg-purple{
    background-color: $bg-purple;
}
.bg-black{
    background-color: $black;
}