body{
    font-size: 19px;
    // color: #989898;
}

//Colour Variables
$bg-purple      : #d2c6e1;
$pink           : #F1EEF6;
$black          : #1A1A1A;
$gray           : #4D4D4D;
$tabletWidth    : 768px;

// Navbar
.navbar{
    padding-top: 5px;
    padding-bottom: 7px;
}
.navbar-toggle{
    border: none;
}
.navbar-toggle .icon-bar {
    width: 60px;
    height: 2px;
    margin-bottom: 11px;
}
// Navbar Logo
.navbar-brand{
    padding-top:10px;
    color: $gray;

    img{
        height: 33px;
        vertical-align: bottom;
    }
}
.nav>li>a{
    // nav bar collapse
    @media (max-width: 995px){
        padding-right: 10px;
        padding-left: 10px;
    }
}

// Content
.flux-banner{
    background: url('../images/main.jpg') no-repeat ;
    background-size: 100% auto;
    height: 300px;
    margin-top: 55px;
    strong{
        display: block;
        margin-top: 45px;
        font-size: 28px;
        color: white;
    }
    @media (min-width: $tabletWidth){
        height: 600px;
    }
}
.heading{
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 32px;
    text-transform: uppercase;
    font-weight: 700;
}
.subheading{
    font-size: 26px;
    line-height: 30px;
}

// About
.feature-1{
    font-size: 23px;
    padding-bottom: 15px;
    hr{
        border: 1px solid gray
    }
    img{
        display: inline-block;
        max-height: 64px;
        margin-right: 16px;
        vertical-align: top;
    }
    p{
        width: calc(100% - 90px);
        display: inline-block;
    }
}
.feature-2{
    height: 150px;
    border: 3px solid white;
    color: black;
    font-size: 11pt;
    text-align: center;

    img{
        height: 50px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
.feature-3{
    p{
        margin-top: 1em;
    }
    img{
        height: 64px;
    }
    hr{
        border: 1px solid $gray;
        margin-bottom: 10px;
    }
}
.not-touchslider{
    @media (min-width: $tabletWidth){
        display: block;
    }
    @media (max-width: $tabletWidth){
        display: none;
    }
}
.touchslider{
    text-align: center;
    .feature-3{
        width: 290px;
        padding-left: 30px;
        vertical-align: top;
        text-align: left;
    }
    @media (min-width: $tabletWidth){
        display: none;
    }
    @media (max-width: $tabletWidth){
        display: block;
    }
}
.touchslider-prev, .touchslider-next{
    display: inline-block;
    position: relative;
    top: -260px;
    img{
        height: 50px;
    }
}
.touchslider-prev{
    padding-right: 35px;
}
.touchslider-next{    
    padding-left: 35px;
}
.touchslider-viewport{
    display: inline-block;
    width:290px;
    height:300px;
    overflow:hidden;
    // border:2px solid black;
}
.touchslider-nav-item{
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 3px solid $gray;
    margin-bottom: 35px;
}
.touchslider-nav-item-current{
    background-color: $gray;
}
.feature-4{
    padding: 20px;
    text-align: center;
    img{
        padding-bottom: 20px;
        width: 100%;
        max-width: 85px;
    }
}
.info-cont{
    font-size: 18pt;
    text-align: center;
    padding: 20px;

    .info-label{
        padding: 10px;
        max-width: 555px;
        margin: 0 auto;
    }
}

// Msc
.bg-pink{
    background-color: $pink;
}
.bg-purple{
    background-color: $bg-purple;
}
.bg-black{
    background-color: $black;
}