/* line 1, style.scss */
body {
  font-size: 19px;
}

/* line 15, style.scss */
.navbar {
  padding-top: 5px;
  padding-bottom: 7px;
}

/* line 19, style.scss */
.navbar-toggle {
  border: none;
}

/* line 22, style.scss */
.navbar-toggle .icon-bar {
  width: 60px;
  height: 2px;
  margin-bottom: 11px;
}

/* line 28, style.scss */
.navbar-brand {
  padding-top: 10px;
  color: #4D4D4D;
}
/* line 32, style.scss */
.navbar-brand img {
  height: 33px;
  vertical-align: bottom;
}

@media (max-width: 995px) {
  /* line 37, style.scss */
  .nav > li > a {
    padding-right: 10px;
    padding-left: 10px;
  }
}

/* line 46, style.scss */
.flux-banner {
  background: black url("../images/main.jpg") no-repeat;
  background-size: 100% auto;
  height: 300px;
  margin-top: 55px;
}
/* line 51, style.scss */
.flux-banner strong {
  display: block;
  margin-top: 45px;
  font-size: 28px;
  color: white;
}
@media (min-width: 768px) {
  /* line 46, style.scss */
  .flux-banner {
    height: 600px;
  }
}

/* line 61, style.scss */
.heading {
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 32px;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 68, style.scss */
.subheading {
  font-size: 26px;
  line-height: 30px;
}

/* line 74, style.scss */
.feature-1 {
  font-size: 23px;
  padding-bottom: 15px;
}
/* line 77, style.scss */
.feature-1 hr {
  border: 1px solid gray;
}
/* line 80, style.scss */
.feature-1 img {
  display: inline-block;
  max-height: 64px;
  margin-right: 16px;
  vertical-align: top;
}
/* line 86, style.scss */
.feature-1 p {
  width: calc(100% - 90px);
  display: inline-block;
}

/* line 91, style.scss */
.feature-2 {
  height: 150px;
  border: 3px solid white;
  color: black;
  font-size: 11pt;
  text-align: center;
}
/* line 98, style.scss */
.feature-2 img {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* line 105, style.scss */
.feature-3 p {
  margin-top: 1em;
}
/* line 108, style.scss */
.feature-3 img {
  height: 64px;
}
/* line 111, style.scss */
.feature-3 hr {
  border: 1px solid #4D4D4D;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  /* line 116, style.scss */
  .not-touchslider {
    display: block;
  }
}
@media (max-width: 768px) {
  /* line 116, style.scss */
  .not-touchslider {
    display: none;
  }
}

/* line 124, style.scss */
.touchslider {
  text-align: center;
}
/* line 126, style.scss */
.touchslider .feature-3 {
  width: 290px;
  padding-left: 30px;
  vertical-align: top;
  text-align: left;
}
@media (min-width: 768px) {
  /* line 124, style.scss */
  .touchslider {
    display: none;
  }
}
@media (max-width: 768px) {
  /* line 124, style.scss */
  .touchslider {
    display: block;
  }
}

/* line 139, style.scss */
.touchslider-prev, .touchslider-next {
  display: inline-block;
  position: relative;
  top: -260px;
}
/* line 143, style.scss */
.touchslider-prev img, .touchslider-next img {
  height: 50px;
}

/* line 147, style.scss */
.touchslider-prev {
  padding-right: 35px;
}

/* line 150, style.scss */
.touchslider-next {
  padding-left: 35px;
}

/* line 153, style.scss */
.touchslider-viewport {
  display: inline-block;
  width: 290px;
  height: 300px;
  overflow: hidden;
}

/* line 160, style.scss */
.touchslider-nav-item {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #808080;
  margin-bottom: 35px;
}

/* line 168, style.scss */
.touchslider-nav-item-current {
  background-color: white;
}

/* line 171, style.scss */
.feature-4 {
  padding: 20px;
  text-align: center;
}
/* line 174, style.scss */
.feature-4 img {
  padding-bottom: 20px;
  width: 100%;
  max-width: 85px;
}

/* line 180, style.scss */
.info-cont {
  font-size: 18pt;
  text-align: center;
  padding: 20px;
}
/* line 185, style.scss */
.info-cont .info-label {
  padding: 10px;
  max-width: 555px;
  margin: 0 auto;
}

/* line 193, style.scss */
.bg-pink {
  background-color: #e4dcec;
}

/* line 196, style.scss */
.bg-purple {
  background-color: #cfb6d9;
}

/* line 199, style.scss */
.bg-black {
  background-color: #1A1A1A;
}
