
// Borders for outlining divs 
.outline{
    border:2px solid black;
}
.outline-red{
    border:2px solid red;
}
.outline-blue{
    border:2px solid blue;
}


$purple    :  #682c91;
$lightPurple   :  #d4c8e3;
$lighterPurple :  #f1eef7;

.flux-banner{
    background: url('../images/background.png') center;
    background-size:100% 100%;
}

// Used for titles
.uppercase{
    text-transform: uppercase;
}
.purple{
    color: $purple;
}

// Used for lists
.table{
    border: 1px solid white;
    padding: 8px;
    margin: 0;
}
.odd{
    background-color: $lightPurple;
}
.even{
    background-color: $lighterPurple;
}

// The images to the left of the lists
.icon{
    position: absolute;

    img{
        height: 64px;
        position: absolute;
        top: -22px;
    }

    &:after{
        content: "";
        position: absolute;
        width: 5px; /*Depends*/
        height: 1px;
        background: #bebbba;
        left: 70px;
        top: 10px;
    }
}
// Even icons are further away from list
.even .icon{
    left: -200px;
    
    &:after{
        width: 140px; 
    }
}
.odd .icon{
    left: -100px;

    &:after{
        width: 39px; 
    }
}

// At bottom of page
.feature{
    width:140px;
    display:inline-block;
    font-size:0.9em;
    padding-right: 30px;
    padding-top: 10px;
    vertical-align: top;
    
    img{
        width: 60px;
    }
    hr{
        border-top:1px solid #682c91;
        margin:10px 0 10px 0;
    }
}